@font-face 
{
    font-family: 'Raleway-Regular';
    src:
         url('Raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'Raleway-ExtraBold';
    src:
         url('Raleway/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face 
{
    font-family: 'Raleway-Medium';
    src:
         url('Raleway/Raleway-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*
{
	font-family: Raleway-Regular, Arial, sans-serif;
}

h1
{
	font-family: Raleway-Extrabold, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
}

h2
{
	font-family: Raleway-Extrabold, Arial, sans-serif;
	font-weight: bold;
	font-size: 1em;
}

#bloc
{
	width: 95%;
	margin: auto;
}

#logo_nav
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

nav ul
{
	list-style-type: none;
	display: flex;
}

nav li
{
	font-family: Raleway-Medium, Arial, sans-serif;
	margin-right: 30px;
}

nav a
{
	text-decoration: none;
	color: black;
	padding: 21px 20px 0px 20px;
}

nav a:focus
{
	border-top: solid;
	border-color: #0065FC;
	border-width: 5px;
	color: #0065FC;
}

nav a strong
{
	color: #0065FC;
}

#logo_nav img
{
	width: 100px;
}

header h1
{
	margin-top: 30px;
	margin-bottom: 5px;
}

header p
{
	font-size: 0.9em;
	font-family: Raleway-Medium,Arial,sans-serif;
	margin-top: 0px;
}

#recherche form
{
	width: 500px;
	height: 45px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}

#recherche a
{
	width: 50px;
	background-color: #F2F2F2;
	text-align: center;
	padding-top: 12px;
	border-radius: 15px 0px 0px 15px;
	text-decoration: none;
	
}

.bouton
{
	width: 150px;
	background-color: #0065FC;
	border-radius: 0 15px 15px 0;
	color: white;
	font-family: Raleway-Extrabold, Arial, sans-serif;
	border: none;
	font-size: 1em;
}

.form
{
	width: 200px;
	border: solid;
	border-color: #F2F2F2;
	font-family: Raleway-Extrabold, Arial, sans-serif;
	font-size: 1em;
	padding-left: 15px;
	
}

.local
{
	font-size: 1.1em;
	color: black;
}

#filtres
{
	height: 42px;
	width: 70%;
	margin-top: 25px;
	margin-left: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
}

#filtres figure
{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	height: 42px;
	padding: 0 20px 0 0px;
	flex-wrap: nowrap;
	margin-right: 0px;
	border: solid;
	border-color: #F2F2F2;
	border-radius: 25px;
}

#filtres figure i
{
	background-color: #DEEBFF;
	border-radius: 25px;
	margin-left: 0px;
	width: 42px;
	text-align: center;
	padding-top: 12px;
}

.illu
{
	color: #0065FC;
}

#filtres figcaption
{
	padding-left: 15px;
}

#filtres a
{
	text-decoration: none;
	color: black;
}
#filtres a:hover
{
	color: #0065FC;
	font-size: 1.1em;
}

#Information
{
	display: flex;
	align-items: center;
	margin-left: 5px;
	margin-top: 20px;
}

#Information i
{
	color: #0065FC;
	border: solid;
	border-radius: 50px;
	height: 20px;
	width: 20px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	font-size: 0.9em;
}

#Information figcaption
{
	padding-left: 15px;
}