@font-face 
{
    font-family: 'Raleway-Regular';
    src:
         url('Raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'Raleway-ExtraBold';
    src:
         url('Raleway/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face 
{
    font-family: 'Raleway-Medium';
    src:
         url('Raleway/Raleway-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*
{
	font-family: Raleway-Regular, Arial, sans-serif;
}

h1
{
	font-family: Raleway-Extrabold, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
}

#bloc
{
	width: 95%;
	margin: auto;
}

#logo_nav
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

nav ul
{
	list-style-type: none;
	display: flex;
}

nav li
{
	font-family: Raleway-Medium, Arial, sans-serif;
	margin-right: 30px;
}

nav a
{
	text-decoration: none;
	color: black;
	padding: 21px 20px 0px 20px;
}

nav a:focus
{
	border-top: solid;
	border-color: #0065FC;
	border-width: 5px;
	color: #0065FC;
}

nav a strong
{
	color: #0065FC;
}

#logo_nav img
{
	width: 100px;
}

header h1
{
	margin-top: 30px;
	margin-bottom: 5px;
}

header p
{
	font-size: 0.9em;
	font-family: Raleway-Medium,Arial,sans-serif;
	margin-top: 0px;
}

